.title {
  display: block;
  margin-left: auto;
  margin-right: 43%;
  width: 20%;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;

}


.digimon-container {
  overflow: hidden;
  width: 560px;
  margin: 0 auto;
  height: 350px;

}

.character {
  height: 500px;
  min-width: 600px;
}

.button {
  background-color: transparent;
  border: none
}

.right {

  position: absolute;
  margin-left: 480px;
  height: 39%;
}

.left {
  position: absolute;
  height: 39%;
}